body {
    box-sizing: border-box;
    width: 100%;

    height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);

}



.wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1720px;
}


/* HEADER */

.header {
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Logo */
.logo__container {
    flex: 10%;
    text-align: center;
    padding: 1vh;
}

.trident {
    width: auto;
    height: 6vh;
}


/* Title */
.title__container {
    flex: 80%;
    display: inline-block;
    padding: 1vh;

}

.title {
    margin: 0;
    color: white;
    font-size: 1.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}


/* MAIN */


.main {
    margin: 0;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
}


/* Tabcontainer */

.tabcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 100%;
    /* padding: 2vh; */

}

.tabcontent {
    flex: 90%;
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.tabheader__items {
    display: flex;
    align-self: center;
align-items:center;    
    justify-content: space-around;
    position: absolute;
    bottom:  0;
    right: 8%;
    padding:0.5%;
    margin: 0 auto;
    width:auto;
    background-color: rgba(255, 255, 255, 0.1);

}

.tabheader__item {
    display: flex;
    height: 8vh;
    width: 6vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vh/1vh;
    box-shadow: 0 0 1vh 0 rgba(255, 255, 255, 0.6);
    margin: 1% 5%;
    padding: 1%;
    border:1px solid white;
}

.tabheader__item__active {
    box-shadow: 0 0 2vh 0 orange;
}

.tabheader__item__title {
    background-color: aqua;
}



.but {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    background-color: orange;
    bottom:1%;
    right: 45%;
    padding: 1% 2%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px/15px;
    color: rgba(255, 255, 255, 0.6);
    height: 7%;
    width: 10%;
}



/* Tabcontent__Items */

.opponent__item,
.soldier__item {
    flex: 40%;
    padding: 1vh;
    box-sizing: content-box;
    height: 90%;
    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: left;
}

.opponent__item {
    justify-content: right;
}


.opponent__container,
.soldier__container {
    transform: scale(0.2);
    position: absolute;
    height: auto;
    bottom: 0;
}

.soldier__container {
    left: -35%;
    bottom: 0;
}

.opponent__container {
    right: -35%;
    bottom: 0;
}



.opponent,
.soldier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.body__section {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
    transform-origin: top;
}

.body__part {
    position: relative;
    transform-origin: top;
    margin: 1vh auto;
    border: 1px solid black;
    border-radius: 20%;
    width: 3vh;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:0 0 0 1vh  rgba(0, 0, 0, 1);
}

.body__section:first-of-type,
.body__section:last-of-type {
    top: 7vh;
    left: 11vh;
    z-index: 1000;
}

.body__section:last-of-type {
    left: -11vh;
    z-index: 10000;
}

.body__section:nth-of-type(2n) {
    top: 32vh;
}

.body__section:nth-of-type(2) {
    left: 6vh;
    z-index: 3000;
}

.body__section:nth-of-type(4) {
    left: -6vh;
    z-index: 5000;
}

.body__section:first-of-type .body__part,
.body__section:last-of-type .body__part {
    margin: 0.5vh auto;
}

.body__section:nth-of-type(2) .body__section__bottom .body__part:last-of-type,
.body__section:nth-of-type(4) .body__section__bottom .body__part:last-of-type {
    width: 3vh;
    height: 5vh;
    transform-origin: top;
}

.body__section__top,
.body__section__bottom {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    transform-origin: top;
    border-radius: 20%;
}

.body__section:nth-of-type(3) .body__section__top,
.body__section:nth-of-type(3) .body__section__bottom {
    transform-origin: bottom;
}

.body__section__middle .body__part {
    padding: 2vh;
    border-radius: 30%;
}


/* Animations */

.soldier__move {
    animation: soldier__move 4000ms 1 linear forwards;
}

@keyframes soldier__move {
    from {
        left: -35%;
        bottom: 0;
    }

    to {
        left: 25%;
        bottom: 0;
    }
}

.opponent__move {
    animation: opponent__move 4000ms 1 linear forwards;
}

@keyframes opponent__move {
    from {
        right: -35%;
        bottom: 0;
    }

    to {
        right: 40%;
        bottom: 0;
    }
}

.move__left {
    animation: move__left 1000ms 4 linear forwards;
}

@keyframes move__left {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0);
    }
}

.move__right {
    animation: move__right 1000ms 4 linear forwards;
}

@keyframes move__right {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0);
    }
}

.skew__move__left {
    animation: skew__move__left 1000ms 4 linear forwards;
}

@keyframes skew__move__left {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0);
    }
}

.skew__move__right {
    animation: skew__move__right 1000ms 4 linear forwards;
}

@keyframes skew__move__right {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

.skew__left {
    animation: skew__left 1000ms 1 linear forwards;
}

@keyframes skew__left {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(25deg);
    }
}

.skew__right {
    animation: skew__right 1000ms 1 linear forwards;
}

@keyframes skew__right {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-25deg);
    }
}

.skew__hard__left {
    animation: skew__hard__left 1000ms 1 linear forwards;
}

@keyframes skew__hard__left {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

.skew__hard__right {
    animation: skew__hard__right 1000ms 1 linear forwards;
}

@keyframes skew__hard__right {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-90deg);
    }
}

.walking__body__move {
    animation: walking__body__move 1000ms 4s linear forwards;
}

@keyframes walking__body__move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2vh);
    }
}


/* WEAPON */


.weapon__container {
    display: block;
    position: absolute;
    height: 40vh;
    width: 10vh;
    transform-origin: top left;
}


.AK__soldier .weapon {
    transform: translate(-1vh, -6vh);
}

.soldier__javeline .weapon {
    transform: translate(4vh, -6vh);
}



.javeline__rocket {
    position: absolute;
    transform: scale(1.5) translate(-2vh, 0);
    z-index: 10000;
}

.rocket__launch {
    animation: rocket__launch 0.5s linear 1 forwards;
}

@keyframes rocket__launch {
    from {
        transform: scale(1.5) translate(-2vh, 0);
    }

    to {
        transform: scale(1.5) translate(-5vh, 700vh);
    }
}

.tank__container {
    transform: scale(2.2) translateY(-60vh);
    position: absolute;
}



.tanktop__move {
    animation: tanktop__move 1s linear 1 forwards;
}

@keyframes tanktop__move {
    0% {
        transform: translate(0, 22vh);
    }

    90% {
        transform: translate(1000vh, -100vh) rotate(360deg);
    }

    100% {
        transform: translate(1000vh, -100vh) rotate(360deg);
        visibility: hidden;
        display: none;
    }
}

.flames {
    background: url("img/Новая папка/flames2.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: top;
}

.flames__blow {
    animation: flames__blow 200ms linear 1 forwards;
    background: url("img/Новая папка/flames2.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: center;
}

@keyframes flames__blow {
    0% {
        transform: scale(1);
    }

    99% {
        transform: scale(10);
    }

    100% {
        transform: scale(1);
        visibility: hidden;
        display: none;
    }
}

.soldier__blow {
    animation: soldier__blow 300ms linear 1 forwards;
}

@keyframes soldier__blow {
    0% {
        transform: translate(0, 0);
    }

    99% {
        transform: translate(150vw, 50vh);
    }

    100% {
        transform: translate(150vw, 50vh);
        visibility: hidden;
        display: none;
    }
}

.burn__fire {
    background: url("img/weapon/fire.gif") no-repeat 50% 50%;
    background-size: cover;
    background-position: center;
}

.smoke {
    background: url("img/Новая папка/smoke.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: right;
}

.weapon__move {
    animation: weapon__move 100ms linear infinite none;
}

@keyframes weapon__move {
    0% {
        transform: translate(-1vh, -6vh);
    }

    50% {
        transform: translate(0, -7vh);
    }

    100% {
        transform: translate(-1vh, -6vh);
    }
}

.fire {
    opacity: 0;
}

.rpg__fire {
    position: absolute;
    transform: translate(-5vh, -33vh) scale(1.5);
    opacity: 0;
}

.gun__fire {
    transform: translate(5vh, -15vh);
    animation: gun__fire 100ms linear infinite none;
}

@keyframes gun__fire {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.javeline__fire {
    position: absolute;
    animation: javeline__fire 200ms linear 1 forwards;
}

@keyframes javeline__fire {
    0% {
        transform: translate(-5vh, -33vh) scale(1.5);
        opacity: 0;
    }

    50% {
        transform: translate(-5vh, -46vh) scale(3);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.soldier__kill {
    animation: soldier__kill 100ms linear infinite none;
}

@keyframes soldier__kill {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(2vh);
    }
}

.flow__down {
    animation: flow__down 1s linear 1 forwards;
}

@keyframes flow__down {
    0% {
        left: 25%;
        bottom:0%;
    }

    100% {
        left: 25%;
        bottom: -5%;
    }
}

.bayraktar__container {
    transform: translate(-65vw, -25vh);
}

.bayraktar__aim {
    display: block;
    transform: scale(4)translate(-16vw, -40vh);
    opacity: 0;
}

.bayraktar__aim img {
    position: absolute;
}

.bayraktar__aim__focus {
    animation: bayraktar__aim__focus 2s linear 1 forwards;
}

@keyframes bayraktar__aim__focus {
    0% {
        transform: scale(4) translate(-16vw, -40vh);
        opacity: 0;
    }

    99% {
        transform: scale(1) translate(-17vw, -40vh);
        opacity: 1;
    }

    100% {
        transform: scale(1) translate(-16vw, -40vh);
        opacity: 0;
    }
}

.bayraktar__bomb {
    position: absolute;
    transform: scale(0.1) translate(0, -85vh);
    z-index: 10000;
}

.bomb__explosion {
    animation: bomb__explosion 5s linear 1 forwards;
    background: url("img/weapon/explode.png") no-repeat 50% 50%;
    background-size: cover;
    background-position: center;
}

@keyframes bomb__explosion {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(10);
    }
}

.bayraktar__fly {
    animation: bayraktar__fly 5s linear 1 forwards;
}

@keyframes bayraktar__fly {
    from {
        transform: translate(-65vw, -25vh);
    }

    to {
        transform: translate(55vw, -15vh);
    }
}

.bomb__launch {
    animation: bomb__launch 4s linear 1 forwards;
}

@keyframes bomb__launch {
    0% {
        transform: scale(0.1) translate(0, -85vh);
    }

    99% {
        transform: scale(0.1) translate(0, 500vh);
    }

    100% {
        display: none;
        transform: scale(0.1) translate(0, 500vh);

    }
}

.neptune {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.neptune__launcher__container {
    position: absolute;
    transform-origin: left;
    transform: rotate(0) translate(-7vh, 7vh);
}

.neptune__rocket {
    position: absolute;
    display: flex;
}

.neptune__fire {
    position: absolute;
    transform: translateX(-50vh);
    animation: neptune__fire 10ms linear infinite forwards;
    opacity: 0;
}

@keyframes neptune__fire {
    0% {
        transform: scale(1) translateX(-50vh);
        opacity: 0;
    }

    50% {
        transform: scale(1.3) translateX(-50vh);
        opacity: 0.5;
    }

    100% {
        transform: scale(1) translateX(-50vh);
        opacity: 1;
    }
}



.neptune__aim__focus {
    animation: neptune__aim__focus 2s linear 1 forwards;
}

@keyframes neptune__aim__focus {
    0% {
        transform: rotate(0) translate(-7vh, 7vh);
    }

    100% {
        transform: rotate(-35deg) translate(-7vh, 7vh);
    }
}


.neptune__rocket__launch {
    animation: neptune__rocket__launch 2s linear infinite forwards;
}

@keyframes neptune__rocket__launch {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(150vh, 20vh) rotate(10deg);
    }

    40% {
        transform: translate(250vh, 50vh) rotate(30deg);
    }

    60% {
        transform: translate(350vh, 100vh) rotate(40deg);
    }
    

    80% {
        transform: translate(480vh, 200vh) rotate(50deg);
    }

    100% {
        transform: translate(600vh, 430vh) rotate(70deg);
    }
}


.ship__container {
    bottom: 0;
    position: absolute;
}


.moscow__ship {
    transform: scale(1.8);
}




.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}



.hide {
    display: none;
}

.show {
    display: flex;
}

.fade {
    animation: fade 0.5s linear 1 forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer{
    height: 8%;
}