body {
    box-sizing: border-box;
    width: 100%;
    max-width: 1980px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
}

.wrapper {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items:center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
}


/* Logo */
.logo__container{
    flex: 10%;
    text-align:center;
    padding: 1vh;
}
.trident{
    width:auto;
    height: 8vh;
}


/* Title */
.title__container{
    flex: 80%;
    display: inline-block;
    padding: 1vh;

}
.title{
    margin: 0;
    color: white;
    font-size: 1.5vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.main {
    height: 88vh;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1vh;
}

.tabcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 80vh;
}

.tabcontent {
    flex: 100%;
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color:rgba(255, 255, 255, 0.5);
}

.tabheader__items {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 5vw;
}

.tabheader__item {
    display: flex;
    height: 6vh;
    width: 4vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px/15px;
    box-shadow: 0 0 1vh 0 black;
    margin:1vh;
    padding: 1vh;
}

.tabheader__item__active {
    box-shadow: 0 0 1vh 0 orange;
}

.tabheader__item__title {
    background-color: aqua;
}

.tabheader__image {
    height: 6vh;
    width: 4vh;
}


.hide {
    display: none;
}

.show {
    display: flex;
}

.fade {
    animation: fade 0.5s linear 1 forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.but {
    position: absolute;
    background-color: orange;
    top: 5%;
    left: center;
    padding: 1vh;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px/15px;
    color: rgba(255, 255, 255, 0.6);
    height: auto;
    width: 13vh;
}



.opponent__item,
.soldier__item {
    flex: 40%;
    padding: 1vh;
    box-sizing: content-box;
    height: 90%;
    display: flex;
    align-items:flex-end;
    position: relative;
    justify-content: left;
}

.opponent__item {
    justify-content: right;
}

.opponent__container,
.soldier__container {
    transform: scale(0.2);
    position: absolute;
    height: auto;
}

.soldier__container {
    left: -30%;
}

.opponent__container {
    right: -35%;
}


.opponent,
.soldier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}



.body__section {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
    transform-origin: top;
}

.body__section__block {
    position: relative;
    transform-origin: top;
    margin: 1vh auto;
    border: 1px solid black;
    border-radius: 20%;
    width: 3vh;
    height: 4vh;
    background-color:rgba(0, 0, 0, 0.5);

}

.body__section:first-of-type,
.body__section:last-of-type {
    top: 7vh;
    left: 11vh;
    z-index: 1000;
}

.body__section:last-of-type {
    left: -11vh;
    z-index: 10000;
}

.body__section:nth-of-type(2n) {
    top: 32vh;
}

.body__section:nth-of-type(2) {
    left: 6vh;
    z-index: 3000;
}

.body__section:nth-of-type(4) {
    left: -6vh;
    z-index: 5000;
}

.body__section:first-of-type .body__section__block,
.body__section:last-of-type .body__section__block {
    margin: 0.5vh auto;
}

.body__section__top,
.body__section__bottom {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    transform-origin: top;
  /*   border: 1px solid black; */
    border-radius: 20%;

}

.body__section:nth-of-type(3) .body__section__top,
.body__section:nth-of-type(3) .body__section__bottom {
    transform-origin: bottom;
}

.body__section__middle .body__section__block {
    padding: 2vh;
    border-radius: 30%;
}

.soldier__move {
    animation: soldier__move 4000ms 1 linear forwards;
}

@keyframes soldier__move {
    from {
        left: -30%;
    }

    to {
        left: 25%;
    }
}

.opponent__move {
    animation: opponent__move 4000ms 1 linear forwards;
}

@keyframes opponent__move {
    from {
        right: -35%;
    }

    to {
        right: 35%;
    }
}

.move__left {
    animation: move__left 1000ms 4 linear forwards;
}

@keyframes move__left {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0);
    }
}

.move__right {
    animation: move__right 1000ms 4 linear forwards;
}

@keyframes move__right {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0);
    }
}

.skew__move__left {
    animation: skew__move__left 1000ms 4 linear forwards;
}

@keyframes skew__move__left {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0);
    }
}

.skew__move__right {
    animation: skew__move__right 1000ms 4 linear forwards;
}

@keyframes skew__move__right {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

.skew__left {
    animation: skew__left 1000ms 1 linear forwards;
}

@keyframes skew__left {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(25deg);
    }
}

.skew__right {
    animation: skew__right 1000ms 1 linear forwards;
}

@keyframes skew__right {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-25deg);
    }
}

.skew__hard__left {
    animation: skew__hard__left 1000ms 1 linear forwards;
}

@keyframes skew__hard__left {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

.skew__hard__right {
    animation: skew__hard__right 1000ms 1 linear forwards;
}

@keyframes skew__hard__right {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-90deg);
    }
}

.walking__body__move {
    animation: walking__body__move 1000ms 4s linear forwards;
}

@keyframes walking__body__move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2vh);
    }
}


/* WEAPON */


.weapon__container {
    display: block;
    position: absolute;
    height: 40vh;
    width: 10vh;
    transform-origin: top left;
}


.AK__soldier .weapon {
    transform: translate(-1vh, -6vh);
}

.soldier__javeline .weapon {
    transform: translate(4vh, -6vh);
}



.javeline__rocket {
    position: absolute;
    transform: scale(1.5) translate(-2vh, 0);
    z-index: 10000;
}

.rocket__launch{
    animation: rocket__launch 0.5s linear 1 forwards;
}

@keyframes rocket__launch{
    from{
        transform: scale(1.5) translate(-2vh, 0);
    }
    to{
        transform: scale(1.5) translate(-5vh, 700vh);
    }
}
.tank__container{
    transform: scale(2.2) translateY(-60vh);
    position: absolute;
  /*  right: -15%; */

}

/* .tank__move{
    animation: tank__move 8s linear 1 forwards ;
}

@keyframes tank__move{
    from{
        right:-15% ;
    }
    to{
        right:-100% ;
    }  
} */

.tanktop__move{
    animation: tanktop__move 1s linear 1 forwards;
}

@keyframes tanktop__move{
    0%{
        transform: translate(0,22vh);
    }

    90%{
        transform: translate(1000vh,-100vh) rotate(360deg);
    }
    100%{
        transform: translate(1000vh,-100vh) rotate(360deg);
        visibility: hidden;
        display: none;
    }
}

.flames{
    background: url("img/Новая папка/flames2.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: top;
}

.flames__blow{
    animation: flames__blow 200ms linear 1 forwards;
    background: url("img/Новая папка/flames2.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: top;
}
@keyframes flames__blow{
    0%{
        transform: scale(1);
    }

    99%{
        transform: scale(10);
    }
    100%{
        transform: scale(1);
        visibility: hidden;
        display: none;
    }
}

.soldier__blow{
    animation: soldier__blow 300ms linear 1 forwards;
}
@keyframes soldier__blow{
    0%{
        transform: translate(0,0);
    }

    99%{
        transform: translate(150vw,50vh);
    }
    100%{
        transform: translate(150vw,50vh);
        visibility: hidden;
        display: none;
    }
}

.burn__fire{
    background: url("img/weapon/fire.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: top left;
}

.smoke{
    background: url("img/Новая папка/smoke.gif") no-repeat 50% 50%;
    background-size: contain;
    background-position: right;
}
.weapon__move {
    animation: weapon__move 100ms linear infinite none;
}

@keyframes weapon__move {
    0% {
        transform: translate(-1vh, -6vh);
    }

    50% {
        transform: translate(0, -7vh);
    }

    100% {
        transform: translate(-1vh, -6vh);
    }
}

.fire {
    opacity: 0;
}

.rpg__fire {
    position: absolute;
    transform: translate(-5vh,-33vh) scale(1.5);
    opacity: 0;
}

.gun__fire {
    transform: translate(5vh, -15vh);
    animation: gun__fire 100ms linear infinite none;
}

@keyframes gun__fire {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.javeline__fire{
    position: absolute;
    animation: javeline__fire 200ms linear 1 forwards;
}

@keyframes javeline__fire {
    0% {
        transform: translate(-5vh,-33vh) scale(1.5);
        opacity: 0;
    }

    50% {
        transform: translate(-5vh,-46vh) scale(3);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.soldier__kill {
    animation: soldier__kill 100ms linear infinite none;
}

@keyframes soldier__kill {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(2vh);
    }
}

.flow__down {
    animation: flow__down 1s linear 1 forwards;
}

@keyframes flow__down {
    0% {
        left: 25%;
        top: 55%;
    }

    100% {
        left: 25%;
        top: 62%;
    }
}

.bayraktar__container{
    transform: translate(-55vw,-25vh);
}

.bayraktar__aim{
    display: block;
    transform: scale(4)translate(-16vw,-40vh);
    opacity: 0;
}

.bayraktar__aim img{
    position: absolute; 
}

.bayraktar__aim__focus{
    animation: bayraktar__aim__focus 2s linear 1 forwards;
}

@keyframes bayraktar__aim__focus{
    0%{
        transform: scale(4) translate(-16vw,-40vh);
        opacity: 0;
    }
    99%{
        transform: scale(1) translate(-16vw,-40vh);
        opacity: 1;
    }
    100%{
        transform: scale(1) translate(-16vw,-40vh);
        opacity: 0;
    }
}

.bayraktar__bomb {
    position: absolute;
    transform: scale(0.1) translate(0, -85vh);
    z-index: 10000;
}

.bomb__explosion{
    animation: bomb__explosion 5s linear 1 forwards;
    background: url("img/weapon/explode.png") no-repeat 50% 50%;
    background-size: cover;
    background-position:center;
}

@keyframes bomb__explosion{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(10);
    }
}
.bayraktar__fly{
    animation: bayraktar__fly 5s linear 1 forwards;
}

@keyframes bayraktar__fly{
    from{
        transform: translate(-55vw,-25vh);
    }
    to{
        transform: translate(55vw,-15vh);
    }
}

.bomb__launch{
    animation: bomb__launch 4s linear 1 forwards;
}

@keyframes bomb__launch{
    0%{
        transform: scale(0.1) translate(0, -85vh);
    }
    99%{
        transform: scale(0.1) translate(0, 500vh);
    }
    100%{
        display: none;
        transform: scale(0.1) translate(0, 500vh);

    }
}

.moscow__ship{

}
